<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.pass.net4_proyecto_integrador">
    <!--
         The ACCESS_COARSE/FINE_LOCATION permissions are not required to use
         Google Maps Android API v2, but you must specify either coarse or fine
         location permissions for the "MyLocation" functionality.
    -->
    <!-- permission Mapa
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_BACKGROUND_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" /> - camera not required for the operation of the app for PlayStore -
    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" /> <!- Read Data and Camera Permissions ->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />-->

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_logoapp"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_logoapp_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".extraActivities.UsersProfileActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".extraActivities.EventActivity"
            android:theme="@style/AppTheme.NoActionBar" />

        <activity android:name=".ChatActivity"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>

        <activity
            android:name=".mainActivities.maps.MapsActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".mainActivities.dashboard.DashboardActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".mainActivities.helpAlert.HelpAlertActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".mainActivities.notifications.ComunityActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".mainActivities.profile.ProfileActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".settingsActivities.ChangeEmailActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".settingsActivities.ChangePasswordActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".settingsActivities.EmailRecoveryActivity" />
        <activity
            android:name=".settingsActivities.PDFActivity"
            android:parentActivityName=".SettingsActivity" />
        <activity
            android:name=".SettingsActivity"
            android:parentActivityName=".mainActivities.profile.ProfileActivity" />
        <!--
             The API key for Google Maps-based APIs is defined as a string resource.
             (See the file "res/values/google_maps_api.xml").
             Note that the API key is linked to the encryption key used to sign the APK.
             You need a different API key for each encryption key, including the release key that is used to
             sign the APK for publishing.
             You can define the keys for the debug and release targets in src/debug/ and src/release/.
        -->
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key" />

        <activity
            android:name=".RegisterActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ContinueRegistrationActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".SplashScreen"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".LoginActivity"
            android:theme="@style/AppTheme.NoActionBar" />

        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
    </application>

</manifest>